[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Margaret-Alice
	email = 96744480+Margaret-Alice@users.noreply.github.com
